body {
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: rgb(7, 147, 33);
    font-family: Arial, sans-serif;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2rem;
    opacity: 0.9;
}

.card {
    background: rgb(17, 1, 1);
    color: black;
    border-radius: 15px;
}

.success {
    color: green;
    font-weight: bold;
}
body {
    font-family: 'Segoe UI', sans-serif;
}
